@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap');
@import './styles/variables.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  color: var(--color-white);
  background: var(--color-gray-900);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

body.menu-open {
  overflow: hidden;
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
}